<!DOCTYPE html>
<html>
  <head>
    <title>Administration - event-gallery</title>
    <link rel="icon" href="../img//favicon.ico" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/admin.css" />
    <script src="../js/admin.js"></script>
  </head>
  <body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{HOSTNAME}}">{{BRAND}}</a>
      <span class="version">v0.2.0-45</span>
    </div>
  </div>
</nav>

{{PRICE_MODIFIER}}
    
    <div class="{{BETA}} container">
      <h1>Administration</h1>
      <div class="row"> <!-- row -->
	<div class="col-8">
	  <div class="card shadow p-3 mb-5 bg-white rounded">
	    <div class="card-body">
	      <h5 class="card-title text-center">Galleries</h5>
	      <p class="card-text">Mise a jour de toutes les galleries non
		indéxées.</p>
	    </div>
	    <div class="card-body">
	      <div id="progressbar"></div>
              <progress id="prog" value="0" max="100" style="width:100%;"></progress>
	      
	      <!-- Progress information -->
	      <br>
	      <div id="information" ></div>
	      
	      <form action="index.php" method="post" id="form1">
		<span class="badge badge-info"
		      title="Désactivé si toutes les galeries sont indéxées."
		      >3*</span>
		<input id="btnUpdateGalleries" type="submit" name="someAction"
		       value="Update galleries" disabled/>
	      </form>
	      
	      {{TBL}}
	      
	      
	    </div> <!-- !card-body -->
	  </div> <!-- !card -->
	</div> <!-- !col -->


	<div class="col-4">
	  <div class="card shadow p-3 mb-5 bg-white rounded">
	  <div class="card-body">
	    <h5 class="card-title text-center">Resize+layer</h5>
	    <p class="card-text">Géneration d'image watermarkée de taille
	      prédeterminée.</p>
	  </div>
	  <div class="card-body">
	    <h5>Commandes</h5>
	    <ul>
	      <li><em>ImageMagick</em> trouvé : {{RZ_IMAGEMAGICK}}</li>
	      <li><em>convert</em> trouvé :     {{RZ_CONVERT}}</li>
	      <li>Thumb method :                {{THUMB_METHOD}}</li>
	    </ul>
	    <h5>Valeurs</h5>
	    <ul>
	      <li>Répertoire d'entrée:          {{CFG__RZ_INPUT}}</li>
	      <li>Répertoire de sortie:         {{CFG__RZ_OUTPUT}}</li>
	      <li>Nouvelle taille:              {{CFG__RZ_SIZE}}</li>
	      <li>Chemin du <em>layer</em>:     {{CFG__RZ_LAYER}}</li>
	      <li>Nombre d'images trouvées :    {{CFG__RZ_FILES}}</li>
	    </ul>

	    <!--
	    <div class="alert alert-danger" role="alert">
	      Un fichier <tt>.@__thumb</tt> a été detecté dans un ou plusieurs
	      sous-repertoire. Veuillez le(s) supprimer avant de
	      continuer :
	      <ul>
		<li>subdir 1 etc...</li>
	      </ul>
	    </div>
	    -->
	    
	    <form action="index.php" method="post">
	      <center>
		<span class="badge badge-info"
		      title="Si le bouton est désactivé, vérifier que les valmeurs ci-dessus sont en vert et réessayer avec le bouton Recharger (2)">1*</span>
		<input id="rzbtn" type="submit" name="launchRZ"
		       value="Redimensionner" style="width: 150px;"/>
		<input id="reloadbtn" type="submit"
		       value="Recharger"  style="width: 150px;"
		       onClick="javascript:window.location.reload();">
		<span class="badge badge-info">2</span>
	      </center>
	    </form>
	  </div>
	  </div>
	</div> <!-- col -->


    </div> <!-- !row -->
    
    <div class="row"> <!-- row -->
      <div class="col-12">
	  <div class="card shadow p-3 mb-5 bg-white rounded">
	    <div class="card-body">
	      <h5 class="card-title text-center">Résultat indexation</h5>
	    </div>
	    <div class="card-body">
	      <textarea id="story" name="story" rows="20" class="form-control" style="min-width: 100%"></textarea>
	    </div> <!-- !card-body -->
	  </div> <!-- !card -->
      </div> <!-- !col -->
    </div> <!-- !row -->


    <h1>Configuration</h1>
    <div class="row">
      <div class="col-4">
	<div class="card shadow p-3 mb-5 bg-white rounded">
	  <div class="card-body">
	    <h5 class="card-title text-center">Envoi de mail</h5>
	    <p class="card-text">Configuration et test de l'envoi d'email.</p>
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">
	      <tt>method :    {{MMETHO}}</tt></br>
	      <tt>recipient : {{MRECIP}}</tt></li>
	  </ul>
	  <div class="card-body">
	    <form action="index.php" method="post">
	      <label for="name"></label>
	      <input type="text" name="testMailName" id="name"
		     size="25" placeholder="Email destinataire" required>
	      <center>
		<input type="submit" name="testMail" value="Envoi" />
	      </center>
	    </form>
	  </div>
	</div>
      </div> <!-- col -->
      <div class="col-6">
	<div class="card shadow p-3 mb-5 bg-white rounded">
	  <div class="card-body">
	    <h5 class="card-title text-center">Répertoires</h5>
	    <p class="card-text">Valeurs extraites du fichier de configuration.</p>
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">
	      Admin directory is :	{{DIR}}</br>
	      Fichier <em>.htpasswd</em> : {{HTFILE}}</br>
	      Galleries directory : {{GDIR}}</br>
	      DbFile : {{DBFILE}}</br>
	      Thumbs dir : {{THUMBS_DIR}}</br>
	      Thumbs URL : {{THUMBS_URL}}
	    </li>
	  </ul>
	  <div class="card-body">
	    Warnings : <br>
	    {{DBFILE_WARNINGS}}
	  </div>
	</div>
      </div> <!-- col  -->
      <div class="col">
	
	<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
	  <div class="card-body">
	    <h5 class="card-title text-center">Valeurs par defaut</h5>
	    <p class="card-text">Formats/Options par defaut des galleries.</p>
	  </div>
	  <div class="card-body">
	    <h5>Format</h5>
	    {{CFG_FORMATS}}
	    <hr>
	    <h5>Options</h5>
	    {{CFG_OPTIONS}}
	  </div>
	</div>
      </div>
    </div> <!-- col -->
      </div> <!-- /row -->
                  </div> <!-- /row -->


    
<div class="row">
  <div class="col-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
	<h5 class="card-title text-center">Galleries .htaccess protection</h5>
	<p class="card-text">Pour empêcher Apache d'afficher une liste des
	  fichiers d'un repertoire donné, il faut un fichier
	  <em>.htaccess</em>.<br>
	  Ce fichier doit contenir la ligne <tt>Options -Indexes</tt>.</p>
      </div>
      <div class="card-body">
	<table>
	  <tr>
	    <th>Fichier</th>
	    <th>Trouvé ?</th>
	  </tr>
	  {{HTACCESS_LIST}}
	</table>
      </div> <!-- card-body -->
    </div> <!--card shadow -->
  </div> <!-- col-6 -->


  <div class="col-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
	<h5 class="card-title text-center">Fichier de log</h5>
	<p class="card-text">Le fichier de log doit pouvoir être lu et ecrit.
	  La fonction doit être activée.<br>
	  En production, il est preféré de désactiver le log.
      </div>
      <div class="card-body">
	<table>
	  {{LOG_STATUS}}
	</table>
      </div> <!-- card-body -->
      
    </div> <!-- !container -->
  </div>
</div>
    
</body>
</html>
