body {
    background-color: #f7f9fa;
}

.card {
    background-color: #ffffff;
    color:rgba(13, 27, 62, 0.7);
    margin: 20px;
    padding: 0 5px 0 5px !important;
}

.actionsDiv {
    display: none;
}

.version {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 280;
}

}

/* Add a BETA background layer to the admin iface to avoid link sharing */
.beta {
    background-image: url(../img/beta.png);
    background-repeat: repeat;
}

/** Here is a BETA card background mixin */
.beta .card {
    background-color: #ffffff55 !important;
}


select {
    min-width: 200px;
    overflow-y: auto;
}
.modifyPriceButton {
    min-width: 200px;
}


/** Prices options list when comming from the default config file
  *
  */
.default {
    background-color: #bbbbee;
    color: #ffffff;
}

