body
{
    color: black;
    background-color: #white;
}

#information
{
    text-align: center;
    font-weight: bold
}

table {
  width: 100%;
}

th {
  height: 50px;
   text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
    /* REmoved to make the price modifier dialog selector work*/
    /*    background-color: white;*/

}

tr:hover {background-color: #f5f5f5;}

tr.child td:first-child  {
    padding-left:40px;
}

.container {
    width: 90%;
    max-width: 90%;
    /* Directly based on header height to keep the breadcrumb visible. */
    padding-top: 86px; 
}

.row{
  margin-top: 30px;
  margin-bottom: 30px
}

#progressbar {
    border:1px solid #ccc;
    border-radius: 5px;
}

.ih-item {
    display:inline-block;
    cursor: zoom-in;
    background-color: #eee;
}

.mask1 {
    cursor: zoom-in;
}

.mask2 {
    cursor: zoom-in;
}

.img-info {
    cursor: zoom-in;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

.img {
    cursor: zoom-in;
    height: auto;
    max-height:200px;
    object-fit: contain;
}

#imgdetails {
    background-color: #222;
    color: #FFF;
    padding: 5px;
}

.modal-lg {
    width: 680px;
    max-width: 800px !important;
    margin: auto;
}

.ih-item img {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
}

.imd-date {
    float: right;
}

.zoomin {
    cursor: zoom-in;
}

.max-panier {
    max-width: 1200px;
}

.fixed-top {
￼    position: fixed;
￼    top: 0;
￼    right: 0;
￼    left: 0;
￼    z-index: 1030;
}

.navbar-brand {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 2px;
    pading-top: 2px;
    margin-right: 2px;
}

pre {
    margin-bottom: 0;
}

#loading {
    width: 128px;
    height: 128px;
    background: url('../img/loading.gif') 0 0;
    margin: auto;
}
