@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80%;
  }
}

#action h6 {
    text-align: left;
}
#action .btn {
    width: 150px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.selected {
    background-color: brown !important;
    color: #FFF;
}

.action-wrapper {
    max-width: 160px;
    margin: auto;
}
